{% extends "shop/base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/womans.css' %}">
{% endblock %}

{% block content %}

<!-- Feminine Video Section with Home Section Overlaid -->


    <!-- Feminine Home Section Overlaid on Video -->
    <section class="home">
            <div class="video-section" id="videoSection">
                <video autoplay muted loop>
                    <source src="{% static 'dior website pictures/FeminineCampaign.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
        </div>
    </section>
</div>

<!-- Products Section with Feminine Touch -->
<section class="products">
    <div class="middle-text">
        <h2>New Arrivals<hr> </h2>
    </div>
    

    <div class="product-content">
        {% for product in products %}
            {% if product.category.slug in category_slugs %}
                <div class="box">
                    <div class="box-img">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </div>
                    <h3>{{ product.name }}</h3>
                    <h4>{{ product.category.name }}</h4>
                    <div class="inbox">
                        <div>
                            <a href="#" class="price">${{ product.price }}</a>
                        </div>
                        <div class="rating">
                            {% for i in "12345" %}
                                <a href="#"><i class="ri-star-fill"></i></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% endblock %}





